
@{
    ViewBag.Title = "Login";
    Layout = "~/Views/Shared/DangKi.cshtml";
}

<div class="container" id="container" style="margin-top:0">
    <div class="form-container sign-in">
        @using (Html.BeginForm("Login", "Users"))
        {
            @Html.ValidationSummary(true)
            <form>

                <h1>Đăng nhập</h1>

                <div class="social-icons">
                    <a href="#" class="icon"><i class="fa-brands fa-google-plus-g"></i></a>
                    <a href="#" class="icon"><i class="fa-brands fa-facebook-f"></i></a>
                    <a href="#" class="icon"><i class="fa-brands fa-github"></i></a>
                    <a href="#" class="icon"><i class="fa-brands fa-linkedin-in"></i></a>
                </div>
                <span>Chúc bạn 1 ngày vui vẻ</span>
                <input type="text" placeholder="Tài Khoản" id="taikhoan" name="TaiKhoan" required>

                <input type="password" placeholder="Password" id="matkhau" name="MatKhau" required>
                <a href="#">Quên mật khẩu</a>
                <button type="submit">Đăng nhập</button>

            </form>
        }
    </div>
</div>


